# dependencies
/node_modules

# next.js
/.next/
/out/

# local data (SQLite del proyecto)
/.data
*.db

# env
.env*
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
